/* Universal Styles */

* {
    
}

/* Header and Navigation Bar */

.container {
    background-color: grey;
    position: absolute;
    /*top: 10;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-flow: row wrap;
    
}

header {
    height: 100px;

}

header img {
    max-width: 300px;
    min-width: 200px;
    min-height: 100px;
} 

#search-bar {
    display: flex;
     
    width: 100px;
    height: 20px;
}

nav {
    top: 100px;
    width: 100%;
    justify-content: center;
    z-index: -1;
}

nav li {
    display: inline-flex;
    margin: 10px;
    
}


/* Main part of webpage */