/* Universal Styles */

* {
 background-color: rgb(204, 204, 204);   
}

/* Header and Navigation Bar */

.flexbox-container {
    flex-direction: row;
    display: flex;
    border-bottom: 3px solid rgb(100, 100, 172);
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Logotype picture */

#flexbox-container-item1 {
      
}

#flexbox-container-item1 img {
    max-width: 200px;
    max-height: 200px;
    
}

/* Navigation Bar */

#flexbox-container-item2  {
    
}

#flexbox-container-item2 li {
    font-family: 'comic sans MS';
    font-size: 20px;
    margin: 10px;
    display: inline;
    
    
}



/* Searchbar */

#flexbox-container-item3 {


}


/* Main part of webpage */

.flexbox-container-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Left side main */
#flexbox-container-main-item1 {
    text-align: center;
    flex-grow: 1;
}

/* Middle side main */

#flexbox-container-main-item2 {
    text-align: center;
    height: 1000px;
    flex-grow: 2;
    border-left: 2px solid rgb(100, 100, 172);
    border-right: 2px solid rgb(100, 100, 172);
}

/* Right side main */

#flexbox-container-main-item3 {
    text-align: center;
    flex-grow: 1;
}

